/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');


/* Root */ 
:root {
    --primary:#214875;
    --primary-light: rgba(33,72,117,0.1);
    --focus: #FF7F50;
    --body: ##E5E5E5;
}



/* RESET CSS */ 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* END RESET CSS */


/* TYPOGRAPHY */

body {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(16px, 1.5vw, 24px);
    color: var(--primary)
}


/* LAYOUT */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    width: 100vw;
    background-color: var(--body);
}







/* FOOTER */
footer {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 64px;
    
    width: 100%;
    padding: 32px 64px;

    border-radius: 8px 8px 0 0;
    box-shadow: 0 -8px 0 var(--primary);
    background-color: var(--primary-light);
}

ion-icon {
    color: var(--focus);
    font-size: inherit;
}

.footer__pictures {
    display: flex;
    justify-content: space-around;
    width: 100%;    
    font-size: 32px;
}


.footer__content {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
}

.footer--logo,
.footer--menu {
    width: 15%;
}

.footer--logo img{
    width: 100%;
    max-width: 250px;
}


.footer--menu a {
    display: block;
    margin-bottom:24px;
    color: var(--primary);   
}

.footer--menu a:hover {
    color: var(--focus)
}

.footer--menu h3 {
    margin-bottom: 16px;
    position: relative;
    
    font-weight: 600;
    text-transform: uppercase;
}


.footer--menu h3:before {
    content:"";
    width: 50px;
    height: 10px;
    
    position: absolute;
    bottom: -5px;
    left: -10px;
    z-index: -10;
    
    background: var(--focus);
    opacity: 0.5;
}

.footer__copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    font-size: 12px;
}

.footer__copyright img {
    width: 50px;
    filter: drop-shadow(0 0 2px white)
}

.footer--socials {
    font-size: 24px;
}

.footer--socials ion-icon {
    margin: 0 8px;

}

.copyright {
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 767px) {

    footer {
        row-gap: 24px;
    }


    .footer__content {
        flex-direction: column;
        align-items: center;
        row-gap: 24px;
    }

    .footer--logo {
        width: 100%;
        text-align: center;
    }

    .footer--logo img {
        max-height: 30px;
    }

    .footer--menu {
        width: 100%;

    }

    .menu--links {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 16px;
        width: 100%;
    }

    .footer__copyright {
        flex-direction: column;
    }
    
}